doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.nav
      ul.nav_items
        li.nav_item
          a.nav_link(href='#') Dashboard 
        li.nav_item
          a.nav_link(href='#') Setup     
        li.nav_item
          a.nav_link(href='#') Validation
        li.nav_item
          a.nav_link(href='#') Voting Center
    block content
